# Dependencies
/node_modules
/node_modules/*

# Expo
.expo/
dist/
web-build/

# Native builds
android/app/build/
ios/Pods/
ios/build/

# Build results
*.ipa
*.apk
*.aab

# Debug
npm-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Environment
.env*.local
